.root {
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

.label {
  font-size: var(--fs-5);
  font-weight: var(--fw-bold);
  color: var(--c-ink2);
}

.description {
  font-size: var(--fs-4);
  color: var(--c-ink4);
  line-height: 1.5;
}

.error {
  font-size: var(--fs-4);
  color: var(--ct-red);
  line-height: 1.5;
}
