.root {
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
}

.separator {
  color: var(--c-ink5);
  margin: 0 var(--s-2);
}

.link {
  color: var(--c-ink4);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--ct-primary);
  }
}

.current {
  color: var(--c-ink2);
  font-weight: var(--fw-bold);
}
